#############
## file
#############
.idea
nodejs-server
node_modules
download
__pycache__
suds-jurko-0.4.1.jurko.3.zip

suds-jurko-0.4.1.jurko.3
webapp.zip
Hybrid
Hybrid.zip

ez_setup.py
msnlib.zip
msnlib

setuptools-2.2.tar.gz